  <div class="row" style="margin-top: 80px">
    <div  class="col-md-3 col-md-3 col-sm-3 btn-change">
      <button type="button" id="btn-preview" (click)='btnPreview()' class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      </button>
    </div>
    <div  class="col-md-6 col-md-6 col-sm-6" style="text-align: center">
      <div class="row" style="font-size: 26px">
        <div class="col-md-12">アクティブユーザー411人</div>
        <div class="col-md-12">2位／278社中</div>
      </div>

    </div>
    <div  class="col-md-3 col-md-3 col-sm-3 btn-change">

      <button type="button" id="btn-next" (click)='btnNext()' class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      </button>
    </div>
    <div class="col-md-12 col-lg-12 box">
      <svg  height="320" class="chart-bar">
      </svg>
    </div>
  </div>
