<div class="container">
<div class="row">
    <div class="col-md-12 col-lg-12 box">
        <svg width="1000" height="400" >
        </svg>
        <button  class="pre btn-arrow " (click)="update_pre()" type="button">
            <i  aria-hidden="true" class="fa fa-arrow-left fa-arrow"></i>
        </button>
        <button  class="next btn-arrow " (click)="update_next()" type="button">
            <i aria-hidden="true" class="fa fa-arrow-right fa-arrow"></i>
        </button>
    </div>
</div>
</div>

