<div class="container">
<div class="row">
    <div  class="col-md-3 col-md-3 col-sm-3 btn-change"> <button  class="pre btn-arrow " (click)="update_pre()" type="button">
        <i  aria-hidden="true" class="fa fa-arrow-left fa-arrow"></i>
    </button></div>
    <div  class="col-md-6 col-md-6 col-sm-6" style="text-align: center">06月</div>
    <div  class="col-md-3 col-md-3 col-sm-3 btn-change"> <button  class="next btn-arrow " (click)="update_next()" type="button">
        <i aria-hidden="true" class="fa fa-arrow-right fa-arrow"></i>
    </button></div>
    <div class="col-md-12 col-lg-12 box">
        <svg  height="400" >
        </svg>
    </div>
</div>
</div>

